.card--framed {
    border: 8px solid $brand-ivory;
  }

 .card--equal {
  min-height: 550px;
 }


 .grow { 
   @include transition( all, .2s, ease-in-out);
   cursor: pointer;
  }

 .grow:hover { 
  @include transform(scale(1.05));

}
